<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title><%= site?.title || "Video Portal" %></title>
  <link rel="stylesheet" href="/public/styles.css"/>
</head>
<body>
  <main class="container">
    <%- body %>
  </main>
</body>
</html>